html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#videoContainer {
  background-image: url("https://res.cloudinary.com/dvqldxdfv/image/upload/v1682695432/Screenshot_2023-04-28_at_9.09.42_srr2ch.png");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}

#textDiv {
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.overlay {
  position: absolute;
  top: 15px;
  left: 15px;
  pointer-events: none;
  z-index: 1000;
  max-height: 100vh;
}

.scorecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(34, 34, 34, 0.8);
  color: white;
  padding: 15px 0;
  min-width: 360px;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.sponsor {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: gray;
}

.sponsor img {
  display: flex;
  height: 20px;
  gap: 60px;
}

.teams-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 20px);
  padding: 10px;
  box-sizing: border-box;
  margin: 5px 10px 0px 0px;
}

.team {
  display: flex;
  font-size: x-large;
  font-weight: 900;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.team-logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.score {
  white-space: nowrap;
  font-size: 24px;
  font-weight: bold;
  color: gold;
  margin: 0 35px;
}

.half {
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  padding: 10px 0 0 0;
}

.hidden {
  display: none;
}

.timer-container {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2000;
}

.timer-circle {
  width: 120px;
  height: 50px;
  background-color: #ff0000;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.timer-text {
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.timer-text span {
  min-width: 15px;
  text-align: center;
}

.baseball-board {
  min-width: 360px;
  background: rgba(34, 34, 34, 0.9);
  border-radius: 8px;
  overflow: hidden;
}

.baseball-table {
  width: 100%;
  border-collapse: collapse;
  color: white;
  background-color: transparent;
}

.baseball-table td {
  padding: 20px 18px;
  border-bottom: 1px solid gray;
}

/* Add vertical borders */
.baseball-table td:nth-child(2),
.baseball-table td:nth-child(3) {
  border-left: 1px solid gray;
}

.team-cell {
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  gap: 12px;
}

.team-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.team-name {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.score-cell {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 60px;
}

.status-cell {
  text-align: right;
}

.status-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.diamonds-cell {
  display: flex;
  align-items: center;
}

.diamond-pyramid {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 3px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 13px;
}

.diamond {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(45deg);
}

.diamond.filled {
  background: white;
}

.inning {
  font-weight: bold;
  font-size: 14px;
}

.count {
  font-weight: bold;
  font-size: 14px;
}

.dots {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8px;
}

.dots-row {
  display: flex;
  gap: 4px;
}

/* Adjust spacing for triangle pattern */
.dots-row:first-child {
  margin-bottom: 2px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.caret-icon {
  color: red;
  font-size: 18px;
}
