html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#videoContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}

#textDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.overlay {
  position: absolute;
  top: 15px;
  left: 15px;
  pointer-events: none;
  z-index: 1000;
  max-height: 100vh;
}

.scorecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(34, 34, 34, 0.8);
  color: white;
  padding: 15px 0;
  min-width: 360px;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.sponsor {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: gray;
}

.sponsor img {
  display: flex;
  height: 20px;
  gap: 60px;
}

.teams-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 20px);
  padding: 10px;
  box-sizing: border-box;
  margin: 5px 10px 0px 0px;
}

.team {
  display: flex;
  font-size: x-large;
  font-weight: 900;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.team-logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.score {
  white-space: nowrap;
  font-size: 24px;
  font-weight: bold;
  color: gold;
  margin: 0 35px;
}

.half {
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
}
